{% include 'layouts/header.html' %}

    <section id="last-added">
        <hgroup>
            <h2>Last added</h2>
        </hgroup>
        <section>
            {% if last_added %}
                {% for entry in last_added %}
                    <article data-id="{{ entry[0] or entry['uid'] }}" data-mode="edit" onclick="viewActivity(this)">
                        <h3>{{ entry[0] or entry['uid'] }}</h3>
                        {% if entry[2] or entry['language'] %} <small>{{ entry[2] or entry['language'] }}</small> {% endif %}
                    </article>
                {% endfor %}
            {% endif %}
        </section>
    </section>

{% include 'layouts/footer.html' %}