section#code {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

section#code > .code-editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

section#code > .code-editor > .CodeMirror {
    flex-grow: 1;
}