{% include 'layouts/header.html' %}

<section id="code" data-uid="{{ uid }}">

    <nav class="toolbar">
        <a onclick="saveCode(this)">Save</a>
        <a onclick="saveAndViewCode(this)">Save & View</a>
        <div>
            <select name="language" id="language">
                {% for language, value in languages.items() %}
                    <option value="{{ language }}" {% if language == (code[0] or code['language']) %}selected{% endif %}>{{ language }}</option>
                {% endfor %}
            </select>
        </div>
    </nav>

    <div class="code-editor">
        <input type="hidden" name="mimes" value="{{ languages }}">
        <textarea name="content" rows=20 cols=100>{{ code[1]  or code['content'] }}</textarea>
    </div>

</section>

{% include 'layouts/footer.html' %}