{% include 'layouts/header.html' %}

        <section id="code" data-uid="{{ uid }}" data-language="{{ code[0] or code['language'] }}">

            <nav class="toolbar">
                <a data-mode="edit" data-id="{{ uid }}" onclick="viewActivity(this)">Edit</a></br>
                <div>
                    <input name='url' value="{{ url }}" style="max-width:14rem;width:100%">
                </div>
            </nav>

            <div class="code-editor">
                <textarea name="content" rows=20 cols=100>{{ code[1] or code['content'] }}</textarea>
            </div>

        </section>


{% include 'layouts/footer.html' %}